body{
    font-family: 'Playfair Display', serif;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}


.icon{
    position: absolute;
    z-index: 999;
    margin-left: 730px;
    font-size: 30px;
    color: rgb(22, 110, 188);
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

h1{
    color: rgb(41, 124, 197);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: none;
}

.imgbackgro{
    background-image: url(/img/imgindex.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 850px;
    height: 500px;
    border-radius: 30px;
}

.climaatual{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(199, 200, 201, 0.731);
    width: 250px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    
    
}

.tituloclima {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0%;
    color: rgb(13, 101, 152);
}

#estadoatual {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0%;
    color: rgb(13, 101, 152);
}

#temperatura{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0%;
    color: rgb(13, 101, 152);
}

#imgclimacentral{
    width: 200px;
    margin-bottom: 0px;
}

.climasdias{
    position: absolute;
    margin-left: 420px;
    margin-top: 30px;
    width: 410px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start;
}


.dias{
    background-color: rgba(255, 255, 255, 0.671);
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-left: auto;
}

.dias > h2{
    color: rgb(13, 101, 152);
    font-size: 20px;
    text-align: center;
}

.dias > h3{
    color: rgb(13, 101, 152);
    font-size: 25px;
    margin: 0%;
    margin-top: 10px;
}



#imgclimadias{
    width: 60px;
}

.boxcenter{
    display: flex;
    justify-content: center;
}

#inptdiv{
    z-index: 999px;
    position: absolute;
    width: 600px;
    height: 300px;
    margin-top: -15px;
    margin-left: -160px;
    display: flex;
    display: none;
}

#nomedacidade {
    height: 40px;
    width: 400px;
    font-size: 20px;
    border: 1px solid #1719b4;
    border-radius: 19px;
    color: #1719b4;
}

#nomedacidade::placeholder {
    color: #1618ac92; 
    opacity: 1;  
}

#bottoncidade{
    margin-left: 5px;
    background-color: white;
    height: 40px;
    border: 1px solid #1719b4;
    border-radius: 19px;
    color: #1719b4;
    cursor: pointer;
}


.icon:hover {
    color: rgb(0, 0, 0); 
    transform: scale(1.2); 
}